
body{
    margin: 0;
    padding: 0;
}
/* Main Header Section Start */

.main-header{
    display: flex;
    margin-top: 50px;
}

.main-header .head-area{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
}

.main-header .head-area h2{
    font-family: 'Inter', sans-serif;
    line-height: 50px;
    font-size: 40px;
    border-left: 3px solid #058FF7;
    padding-left: 10px;
}

.main-header .head-area h2 span{
    color: #099AF8;
}

.main-header .head-area p{
    color: #333333;
    font-size: 20px;
    padding-bottom: 40px;
    line-height: 25px;
}

.main-header .head-area .down-text{
    padding-top: 40px;
}

.header-button{
    text-decoration: none;
    padding: 20px 40px;
    background-color: #058FF7;
    color: #ffffff;
    font-weight: 800;
    border-radius: 5px;
    border: 1px solid #000;
}

.main-header .head-image{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
   
}

.main-header .head-image img{
    height: 100%;
    width: 100%;
}

/* Main Header Section End */

.mission-area{
    display: flex;
    padding-right: 100px;
    padding-left: 100px;
}

.mission-header H2{
    font-family: 'Inter', sans-serif;
    line-height: 50px;
    font-size: 40px;
    text-align: center;
}

.mission-header H2 span{
    color: #099AF8;
}

.mission-area .mission-box{
    width: 33.33%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    padding: 20px;
}

.mission-area .mission-box h4{
    font-weight: 800;
    font-size: 25px;
}

.mission-area .mission-box p{
    font-weight: 200;
    font-size: 18px;
    color: #333333;
}

.mission-area .mission-box img{
    height: 150px;
    width: 150px;

}

#color1{
    background-color: #FFDEAD;
}

#color2{
    background-color: #B0E0E6;
}
#color3{
    background-color: #D8BFD8;
}

.develop-area{
    display: flex;
    margin-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.develop-area .develop-image{
    width: 50%;
    position: relative;
    z-index: 1;
    margin-left: 20px;
}

.develop-area .develop-image .develop-extra{
   height: 100%;
   width: 100%;
}

.develop-area .develop-image .develop-shape{
    height: 150px;
    width: 150px;
    position: absolute;
    left: -25px;
    z-index: -1;
    top: 200px;
}

#read-more{
    margin-bottom: 50px;
}


.develop-area .develop-text{
    width: 50%;
    margin-left: 50px;
}

.develop-area .develop-text p{
    font-size: 18px;
}

.develop-area .develop-text h2{
    font-family: 'Inter', sans-serif;
    line-height: 50px;
    font-size: 40px;
}
.develop-shape2{
    height: 150px;
    width: 150px;
    position: absolute;
    right: -25px;
    z-index: -1;
    bottom: 0;
}

.portfolio-area{
    margin-top: 100px;
}

.portfolio-area .portfolio-header h2{
    font-family: 'Inter', sans-serif;
    line-height: 50px;
    font-size: 40px;
    text-align: center;
}

.portfolio-area .portfolio-header h2 span{
    color: #099AF8;
}

.portfolio-area .portfolio-main{
    display: flex;
}

.portfolio-area .portfolio-main .portfolio-image{
    width: 33.33%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    padding: 20px;
}

.portfolio-area .portfolio-main .portfolio-image img{
    height: 100%;
    width: 100%;
}

.portfolio-area .portfolio-main .portfolio-image img:hover{
    box-shadow: 5px 10px 5px #888888;
    transition: .5s;
}

footer .footer-head{
    background-color: #0B0D17;
    text-align: center;

}

footer .footer-head h2{
    font-family: 'Cookie', cursive;
    line-height: 50px;
    font-size: 40px;
    color: #ffffff;
    padding-top: 20px;
}
footer .footer-head h2 span{
    color: #099AF8;
}

footer .footer-head p{
    color: #ffffff;
    padding-bottom: 20px;
}

.footer-head a{
    text-decoration: none;
    color: #099AF8;
    padding: 0 5px;
}
