.main-header{
    display: flex;
}

.main-header .head-area{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

.main-header .head-area h2{
    font-family: 'Inter', sans-serif;
    line-height: 50px;
    font-size: 40px;
}

.main-header .head-image{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

.main-header .head-image img{
    height: 100%;
    width: 100%;
}